.content-container{
    text-align: center;
    display: grid;
    grid-template-columns: 3fr 1fr ;
   
}
.person-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
.card-container{
    margin: 15px 8px;
   
    padding-top: 50px;
   
    
}